<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Hello doc</h1>
  <ul>
  {{range . }}
  <l1>{{ . }}</l1>
  {{end}}
</ul>
</body>
</html>
