
  <!DOCTYPE html>
  <html lang = "en">
  <meta charset="UTF-8">
  <head>
  <title>Hello World</title>
  </head>
  <body>
    {{$mathiens := .}}
    {{range $m := $mathiens}}
  <h1>{{$m.Name}} INVENTED {{$m.Invented}}</h1>
    {{end}}
  </body>
  </html>
